* {
    margin: 0;
    padding: 0px;
}

#container {
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.button {
    width: 100px;
    height: 30px;
    border-radius: 50px;
}

#results {
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.numbers {
    display: flex;
    justify-content: space-around;
}